.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xs);
  /* font-weight: bold; */
  line-height: 18px;
  /* max-width: 240px; */
  max-width: fit-content;
  background-color: var(--color-light-bg-info);
  border-radius: var(--border-radius-s);
  padding: var(--gap-2xs) var(--gap-xs);
}

.status_wrapper {
  height: fit-content;
  display: flex;
  gap: 6px;
}

.status {
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  padding: var(--gap-3xs) var(--gap-3xs);
  border-radius: var(--border-radius-s);
  /* background-color: var(--color-light-bg-primary); */
}