.root {
	display: flex;
	flex-direction: column;
	gap: var(--gap-2xs);

	/* max-width: 240px; */
	max-width: fit-content;
	padding: var(--gap-2xs) var(--gap-xs);
	border-radius: var(--border-radius-s);

	/* font-weight: bold; */
	line-height: 18px;

	background-color: var(--color-light-bg-info);
}

.status_wrapper {
	display: flex;
	gap: 6px;
	height: fit-content;
}

.status {
	display: flex;
	gap: var(--gap-xs);
	align-items: center;

	padding: var(--gap-3xs) var(--gap-3xs);
	border-radius: var(--border-radius-s);

	font-size: var(--font-size-lg);

	/* background-color: var(--color-light-bg-primary); */
}
