.template_item_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: var(--gap-l);

	color: var(--color-light-text-button-primary);

	background-color: var(--color-light-bg-button-primary);

	transition: background-color 0.3s linear;
}

.template_item_wrapper:hover {
	background-color: var(--color-light-bg-button-primary-hover);
}
