.root {
  border-radius: var(--border-radius-s);
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: var(--color-light-bg-info);
}

.button-secondary {
  background-color: var(--color-light-specialbg-tertiary-transparent);
}