.root {
	cursor: pointer;
	padding: var(--gap-2xs) var(--gap-xs);
	border: none;
	border-radius: var(--border-radius-s);
}

.button_primary {
	color: var(--color-light-text-primary);
	background-color: var(--color-light-bg-button);
}

.button_secondary {
	background-color: var(--color-light-specialbg-tertiary-transparent);
}
