.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-l);
	align-items: center;
}

.button_wrapper {
	width: 40%;
}
