.client_card {
	display: flex;
	gap: var(--gap-2xs);
	align-items: center;

	width: 100%;
	padding: var(--gap-xs);
	border-color: var(--color-light-border-primary);
	border-radius: var(--border-radius-s);

	background-color: var(--color-light-bg-plate);
}
