.client_card {
	max-width: 300px;
	padding: var(--gap-2xs) var(--gap-xs);
	border-color: var(--color-light-border-primary);
	border-radius: var(--border-radius-s);

	background-color: var(--color-light-bg-info);
}
