.root {
	display: flex;
	gap: var(--gap-2xs);
	align-items: center;

	width: 100%;
	padding: var(--gap-xs) var(--gap-s);
	border-color: var(--color-light-border-primary);
	border-radius: var(--border-radius-s);

	background-color: var(--color-light-bg-card);
}

.content {
	display: grid;
	grid-column-gap: 16px;
	grid-template-columns: 1fr fit-content(100%) 1fr fit-content(100%) 1.3fr;
	justify-content: space-between;

	width: 100%;

	text-wrap: nowrap;
}

.value_wrapper {
	text-align: center;
}
