.root {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 60px;
	padding: var(--gap-m) var(--gap-l);

	background-color: var(--color-light-bg-header);
	box-shadow: 1px 1px 3px 0 #00000040;
}

.container {
	display: flex;
	gap: var(--gap-l);
	align-items: center;
	width: fit-content;
}
