.wrapper {
	height: 80px;
	padding: var(--gap-m) var(--gap-l);
	box-shadow: 0 4px 46px 0 #00000008;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 50px;
}

.nav {
	display: flex;
	gap: 50px;
	align-items: center;
}

.nav_item {
	cursor: pointer;
	font-size: var(--font-size-lg);
	color: var(--color-light-text-muted);
	transition: all 0.3s linear;
}

.nav_item:hover {
	color: var(--color-light-text-primary);
}

.nav_item_active {
	cursor: default;
	color: var(--color-light-text-primary);
}
