.wrapper {
	height: 80px;
	padding: var(--gap-m) var(--gap-l);
	box-shadow: var(--shadow-lg);
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 50px;
}

.content_container {
	display: flex;
	gap: var(--gap-l);
	align-items: center;
}

.nav {
	display: flex;
	gap: 50px;
	align-items: center;
}

.nav_item {
	cursor: pointer;
	transition: all 0.3s linear;
}

.nav_item:hover {
	color: var(--color-light-text-primary);
}

.logo {
	color: var(--color-light-text-logo);
}
