.wrapper {
	display: flex;
	gap: 12px;

	padding: 0 24px;

	font-size: 22px;
	font-weight: 200;
}

.active {
	color: var(--color-status-success);
}

.inactive {
	color: var(--color-status-failure);
}
