.wrapper {
	display: grid;
	grid-auto-rows: 100%;
	grid-template-columns: 4fr max-content 5fr;
	gap: 0 var(--gap-l);

	height: 100%;
}

.right_widgets {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
}
