.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-l);
	align-items: center;
}

.logo {
	color: var(--color-light-text-secondary);

	background: linear-gradient(
		to right,
		var(--color-light-text-secondary) 20%,
		var(--color-light-text-logo) 20%,
		var(--color-light-text-logo) 80%,
		var(--color-light-text-secondary) 80%
	);
	background-clip: text;
	background-size: 500% auto;

	animation: text-shine 2s ease-in-out infinite alternate-reverse;

	-webkit-text-fill-color: transparent;
}

.connecting {
	min-width: 140px;
}

.connecting::after {
	content: '';
	display: inline-block;
	animation: dots steps(5, end) 1s infinite;
}

@keyframes dots {
	0% {
		content: '';
	}

	25% {
		content: '.';
	}

	50% {
		content: '..';
	}

	75% {
		content: '...';
	}

	100% {
		content: '';
	}
}

@keyframes text-shine {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}
