.root {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	gap: var(--gap-m);

	width: 50px;
	min-height: 100%;
	padding: var(--gap-s) var(--gap-xl);

	background-color: var(--color-dark-status-muted-alt-info-press);

	transition: all 0.3s linear;
}

.root:hover {
	width: 150px;
}

.logo {
	/* Safari */

	/* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	position: absolute;
	top: 0;
	left: 0;
	transform-origin: center;
	transform: rotate(-180deg);

	writing-mode: vertical-rl;
	font-size: var(--font-size-2xl);
	font-weight: bold;
	color: white;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);
	align-items: center;
	justify-content: center;

	width: 100%;
	margin-top: 100px;
}

.nav_item {
	width: 100%;
	text-align: left;
	transition:
		background 0.2s ease,
		border 0.2s ease,
		color 0.2s ease;
}

.sidebar_item:hover {
	background-color: var(--color-light-neutral-0-hover);
}
