.root {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	gap: var(--gap-m);

	width: 64px;
	min-height: 100%;
	padding: var(--gap-s) var(--gap-m);

	background-color: var(--color-light-bg-plate);

	transition: all 0.3s linear;
}

.root:hover {
	width: 150px;
}

.logo {
	/* Safari */

	/* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	position: absolute;
	top: 0;
	left: 0;
	transform-origin: center;
	transform: rotate(-180deg);

	writing-mode: vertical-rl;
	font-size: var(--font-size-2xl);
	font-weight: bold;
	color: white;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);
	align-items: flex-start;

	width: 100%;
	margin-top: 50px;
}

.nav_item {
	overflow: hidden;
	display: flex;
	gap: var(--gap-s);
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	height: 32px;

	transition: width 0.3s linear;
}

.nav_item_text {
	transform: translateX(-100%);
	display: none;
	transition: transform 0.2s linear;
}

.root:hover .nav_item_text {
	transform: translateX(0);
	display: block;
}

.nav_item_icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 16px;
	height: 16px;

	background-color: var(--color-light-button);
}
