*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	max-height: 100vh;
	height: 100vh;
	background-color: var(--color-light-bg-body);
}

a {
	text-decoration: none;
	color: var(--color-light-text-primary-inverted);
}

.hide_scrollbar {
	/* Hide in webkit browsers */
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--border-radius-s: 6px;
	--border-radius-m: 8px;
	--border-radius-l: 12px;
}

:root {
	--gap-3xs: 2px;
	--gap-2xs: 6px;
	--gap-xs: 8px;
	--gap-s: 12px;
	--gap-m: 16px;
	--gap-l: 20px;
	--gap-xl: 24px;
}

:root {
	--font-size-xs: 8px;
	--font-size-sm: 12px;
	--font-size-md: 16px;
	--font-size-lg: 20px;
	--font-size-xl: 24px;
	--font-size-2xl: 30px;
	--font-size-3xl: 36px;
}

:root {
	--color-light-gray-500: #adadad;
	--color-light-gray-300: #cecece;
	--color-status-success: #5cb85c;
	--color-status-failure: #d63124;
	--color-light-bg-button: #ffffff;
	--color-dark-status-muted-alt-info-press: #38476c;
	--color-light-bg-header: #383c49;
	--color-light-bg-plate: #f3f3f3;
	--color-light-bg-card: #e2e7eb;
	--color-light-bg-info: #d6e8fc;
	--color-light-bg-body: #cecece;
	--color-light-bg-secondary: #f2f3f5;
	--color-light-specialbg-tertiary-transparent: rgba(30, 43, 68, 0.08);
	--color-light-text-primary: rgba(3, 3, 6, 0.88);
	--color-light-neutral-0-hover: #e7e8eb;
	--color-light-border-primary: #d5d6dc;
}
