.component {
	margin: 0;
	padding: 0;
}

.primary {
	color: var(--color-light-text-primary);
}

.secondary {
	color: var(--color-light-text-secondary);
}

.bold {
	font-weight: var(--font-weight-bold);
}

.medium {
	font-weight: var(--font-weight-medium);
}

.regular {
	font-weight: var(--font-weight-regular);
}

.light {
	font-weight: var(--font-weight-light);
}
