.wrapper {
	display: flex;
	gap: 24px;
	margin-left: 50px;
}

.item_wrapper {
	padding: 2px 14px 6px;
	font-size: 16px;
	font-weight: 300;
}

.item_wrapper:hover {
	cursor: pointer;
	background-color: var(--color-light-bg-button-secondary-hover);
}

.item_active {
	background-color: var(--color-light-bg-button-secondary);
}
